/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #777777;
}

#buttons li{
    margin-left: 15px;
}
.navbar-default {
    background-color: #eee;
    border-color: #eeeeee;
}
body{
    background-color: #375a7f !important;
    overflow-y: scroll;
    overflow-x: hidden;
}
#header{

}
.navbar{
    margin-bottom: 0px !important;
    border-radius:0px !important;
}
#form{
    margin-top: -480px;
    z-index: 55;
}
.panel{
    background-color: #eee;
    height: 430px;
}
#glyph {
    font-size: 32px !important;
    color: #375a7f;
}
#glyph .glyphicon{
    margin-top: 7px;
}
.form-control {
    font-size: 20px !important;
    height:45px;
}
p{
    text-align: justify;
}
#container-center{
    background-color: #eee;padding-top: 70px;
    height: 1350px;
}
footer .navbar {
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
@media (max-width: 992px) {
    .form{
        display: none !important;
    }
}
.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
.carousel img{
    width:100%;
}
ul.ui-front {
    z-index: 1100;
}
.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}
#flagImgOrigin{
    max-width: 40px;
    max-height: 40px;
    margin-top: 10px;
    border: 1px solid;
}
#flagImgDeparture{
    max-width: 40px;
    max-height: 40px;
    margin-top: 10px;
    border: 1px solid;
}
.promotions{
    margin-top:20px;
}
.promo{
    border: solid #375a7f;
    border-style: dashed;
}
#price{
    font-weight: 900;
    font-size: 25px;
    color: #375a7f;
}
.jumbotron{
    border: solid grey;
}
.max-width{
    width: 200px;
    height: 200px;
}